@font-face {
  font-family: 'Gugi';
  src: url(../assets/Fonts/Gugi-Regular.ttf);
}

@font-face {
  font-family: 'Signika';
  src: url(../assets/Fonts/Signika-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Museo';
  src: url(../assets/Fonts/MuseoModerno-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Mukta-Regular';
  src: url(../assets/Fonts/Mukta-Regular.ttf);
}

@font-face {
  font-family: 'Mukta-Bold';
  src: url(../assets/Fonts/Mukta-Bold.ttf);
}

:root {
  --font-Gugi: 'Gugi';
  --font-Signika: 'Signika';
  --font-Museo: 'Museo';
  --font-MuktaRegular: 'Mukta-Regular';
  --font-MuktaBold: 'Mukta-Bold';
  --primary-color: #a1ff1a;
  --secondary-color: #202900;
}
