.header-section {
  margin-bottom: 10rem;
}

.header-content-parent,
.see-myself-content-parent {
  display: flex;
  flex-direction: row;
}

.header-content {
  padding: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header-content h3 {
  margin-bottom: 1rem;
}

.header-content h1 {
  margin-bottom: 2rem;
  font-weight: bolder;
}

.header-content h5 {
  margin-bottom: 1rem;
  word-spacing: 2px;
  letter-spacing: 2px;
  font-weight: lighter;
  font-family: var(--font-MuktaRegular);
}

.header-scroll-indication {
  margin-top: 3rem;
  padding: 10px;
  border-bottom: 1px solid;
}

.header-scroll-indication h6 {
  letter-spacing: 4px;
  word-spacing: 2px;
  text-transform: uppercase;
  font-weight: bolder;
}

.header-image {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sci-parent {
  margin-bottom: 1rem;
}

.sci {
  margin-top: 20px;
  display: flex;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 7px;
}

.sci li a .fab {
  font-size: 16px;
}

.header_btn_col a {
  margin-left: 1rem;
}

@media (max-width: 1400px) {
  .header-content {
    padding: 4rem;
  }
}

@media (max-width: 900px) {
  .header-content {
    width: 100%;
    padding: 2rem;
    align-items: center;
  }

  .header-content h3 {
    margin-bottom: 0.5rem;
  }

  .header-content h1 {
    margin-bottom: 1rem;
    font-weight: normal;
  }

  .header-content h5 {
    font-size: 18px;
    font-weight: lighter;
    word-spacing: 1px;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .header-content-parent {
    flex-direction: column-reverse;
  }

  .see-myself-content-parent {
    flex-direction: column;
  }

  .header-image {
    width: 100%;
  }

  .header-image figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-image figure img {
    width: 70%;
    height: 70%;
  }
}

.aboutme-section h1 {
  margin-bottom: 3rem;
}

.aboutme-section h2 {
  letter-spacing: 2px;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 1.5rem;
}

.technologies-parent-dv {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.technology-item {
  padding: 5px 8px;
  margin: 8px 12px;
  border-radius: 7px;
  border-left: 7px solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.technology-card-dark {
  backdrop-filter: blur(25px) saturate(176%);
  -webkit-backdrop-filter: blur(25px) saturate(176%);
  background-color: rgba(92, 92, 100, 0.74);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.technology-card-light {
  backdrop-filter: blur(21px) saturate(151%);
  -webkit-backdrop-filter: blur(21px) saturate(151%);
  background-color: rgba(220, 222, 186, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.technology-item img {
  height: 32px !important;
  width: 32px !important;
}

.technology-item h6 {
  margin: 0;
  margin-left: 4px;
  letter-spacing: 1px;
  font-size: 0.75rem;
}

@media (max-width: 900px) {
  .aboutme-section h2 {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .aboutme-section p {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 15px;
  }

  .technology-item {
    padding: 6px 12px;
    margin: 6px 12px;
  }

  .technology-item img {
    height: 25px !important;
    width: 25px !important;
  }

  .technology-item h6 {
    font-size: 12px;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.rate-myself-container {
  padding: 0 3rem;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.rate-myself-container .card {
  position: relative;
  width: 175px;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.rate-myself-container .card .percent {
  position: relative;
  width: 150px;
  height: 150px;
}

.rate-myself-container .card .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.rate-myself-container .card .percent svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 2;
  transform: translate(5px, 5px);
}

.rate-myself-container .card .percent svg circle:nth-child(2) {
  stroke-width: 4;
  stroke-dasharray: 440;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 3.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.rate-myself-container .card .percent .dot {
  position: absolute;
  inset: 5px;
  z-index: 10;
}

@keyframes animateDotJavascript {
  0% {
    transform: rotate(0deg);
  }
  100% {
    --percent: 85;
    transform: rotate(calc(3.6deg * var(--percent)));
  }
}

@keyframes animateDotNodeJS {
  0% {
    transform: rotate(0deg);
  }
  100% {
    --percent: 80;
    transform: rotate(calc(3.6deg * var(--percent)));
  }
}

@keyframes animateDotReactJS {
  0% {
    transform: rotate(0deg);
  }
  100% {
    --percent: 75;
    transform: rotate(calc(3.6deg * var(--percent)));
  }
}

@keyframes animateDotExpressJS {
  0% {
    transform: rotate(0deg);
  }
  100% {
    --percent: 90;
    transform: rotate(calc(3.6deg * var(--percent)));
  }
}

@keyframes animateDotMongoDB {
  0% {
    transform: rotate(0deg);
  }
  100% {
    --percent: 80;
    transform: rotate(calc(3.6deg * var(--percent)));
  }
}

@keyframes animateDotElasticSearch {
  0% {
    transform: rotate(0deg);
  }
  100% {
    --percent: 70;
    transform: rotate(calc(3.6deg * var(--percent)));
  }
}

.rate-myself-container .card .percent .dot::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.Javascript::before {
  background: #ffd600;
  box-shadow: 0 0 10px #ffd600, 0 0 30px #ffd600;
}

.NodeJS::before {
  background: #21a366;
  box-shadow: 0 0 10px #21a366, 0 0 30px #21a366;
}

.ReactJS::before {
  background: #39c1d7;
  box-shadow: 0 0 10px #39c1d7, 0 0 30px #39c1d7;
}

.ExpressJS::before {
  background: #ffffff;
  box-shadow: 0 0 10px #ffffff, 0 0 30px #ffffff;
}

.MongoDB::before {
  background: #4caf50;
  box-shadow: 0 0 10px #4caf50, 0 0 30px #4caf50;
}

.ElasticSearch::before {
  background: #ffca28;
  box-shadow: 0 0 10px #ffca28, 0 0 30px #ffca28;
}

.data {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 3.5s;
}

.data h2 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 2.5em;
}

.data h2 span {
  font-weight: 300;
  font-size: 0.5em;
}

.data p {
  font-weight: 300;
  font-size: 0.6em;
  margin-top: 5px;
  line-height: 2px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#career {
  margin-bottom: 4rem;
}

.aboutme-section,
.career-section,
.projects-section {
  padding: 5rem 0;
}

#career .card {
  border: none;
  padding: 1rem 1rem;
  position: relative;
}

.edu-card,
.exp-card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
}

#career .card h2 {
  font-size: 2rem;
  margin-bottom: 1.6rem;
  text-align: center;
}

#career .card .edu-content,
#career .card .exp-content {
  text-align: center;
}

#career .card .edu-content .timeline,
#career .card .exp-content .timeline {
  border-left: 0.4rem solid;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  padding: 4rem 0 4rem 4rem;
  text-align: left;
  list-style: outside none none;
}

#career .card ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  margin-top: 0;
  margin-bottom: 1rem;
}

#career .card .edu-content .timeline .event,
#career .card .exp-content .timeline .event {
  border-bottom: 1px dashed;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  position: relative;
  list-style: none;
}

#career .card .edu-content .timeline .event:last-of-type,
#career .card .exp-content .timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

#career .card .edu-content .timeline .event:after,
#career .card .exp-content .timeline .event:after {
  left: -5rem;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  content: '';
  top: 5px;
}

.eduDark:after {
  background: #a1ff1a;
}

.eduLight:after {
  background: #13bb00;
}

#career .card .edu-content .timeline .event:before,
#career .card .edu-content .timeline .event:after,
#career .card .exp-content .timeline .event:before,
#career .card .exp-content .timeline .event:after {
  position: absolute;
  display: block;
}

#career .card .edu-content .timeline .event .event-headline p,
#career .card .exp-content .timeline .event .event-headline p {
  margin-top: 0;
  margin-bottom: 0.8rem;
}

#career .card .edu-content .timeline .event .event-headline .event-title,
#career .card .exp-content .timeline .event .event-headline .event-org {
  letter-spacing: 1.5px;
  font-size: 1.4em;
}

#career .card .edu-content .timeline .event .event-headline .event-city,
#career .card .exp-content .timeline .event .event-headline .event-title,
#career .card .exp-content .timeline .event .event-headline .event-location {
  letter-spacing: 1px;
  font-size: 1em;
}

#career .card .edu-content .timeline .event .event-headline .event-course,
#career .card .edu-content .timeline .event .event-headline .eventwhen,
#career .card .exp-content .timeline .event .event-headline .event-project,
#career .card .exp-content .timeline .event .event-headline .event-keyword,
#career .card .exp-content .timeline .event .event-headline .eventwhen {
  letter-spacing: 0.5px;
  font-size: 0.8em;
}

/* --------------------------------------------------------------------- */

.relative {
  position: relative;
}

.tracking-tight {
  letter-spacing: -0.025em;
}

.font-semibold {
  font-weight: 600;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.max-w-5xl {
  max-width: 64rem;
}

.min-h-screen {
  min-height: 100vh;
}

.flex {
  display: flex;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.leading-\[1\.15\] {
  line-height: 1.15;
}

.introText {
  transition: opacity 0.4s;
  font-family: var(--font-MuktaBold);
}

@media (min-width: 1024px) {
  .lg\:text-7xl {
    font-size: 5rem;
    line-height: 1;
  }

  .lg\:py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .lg\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (min-width: 768px) {
  .md\:text-6xl {
    font-size: 4rem;
    line-height: 1;
  }

  .md\:py-28 {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

/* --------------------------------------------------------------------- */

.projects-section-title {
  margin-bottom: 3rem;
}

.projects-section .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
  grid-gap: 40px;
}

.projects-section .card {
  border: 1px solid;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}

.projects-section .card .container {
  padding: 0;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.projects-section .card .container::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}

/* background-image: linear-gradient(135deg, #2bdce3, #42ffdb); */
/* background-image: linear-gradient(135deg, #ffab1d, #f8501c); */
/* background-image: linear-gradient(135deg, #0100ec, #fb36f4); */

.card1 .container::after {
  background-image: linear-gradient(135deg, #a1ff1a 10%, #00f5ffb0 80%);
}

.card2 .container::after {
  background-image: linear-gradient(135deg, #a1ff1a 10%, #f1ff00e8 80%);
}

.card3 .container::after {
  background-image: linear-gradient(135deg, #a1ff1a 10%, #ff9e00c0 80%);
}

.projects-section .card img {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}

.projects-section .card .details {
  padding: 20px 10px;
}

.projects-section .card .details > h3 {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}

.projects-section .card .details > p {
  color: #a0a0a0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}
